<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_WeightInOrderGrid>
            <version>1.0.0</version>
        </Quafzi_WeightInOrderGrid>
    </modules>
    <global>
        <blocks>
            <quafzi_weightinordergrid>
                <class>Quafzi_WeightInOrderGrid_Block</class>
            </quafzi_weightinordergrid>
        </blocks>
        <helpers>
            <quafzi_weightinordergrid>
                <class>Quafzi_WeightInOrderGrid_Helper</class>
            </quafzi_weightinordergrid>
        </helpers>
        <models>
            <quafzi_weightinordergrid>
                <class>Quafzi_WeightInOrderGrid_Model</class>
            </quafzi_weightinordergrid>
        </models>
    </global>
    <adminhtml>
        <events>
            <core_layout_block_create_after>
                <observers>
                    <quafzi_weightinordergrid_adminhtml_block_html_before>
                        <class>quafzi_weightinordergrid/observer</class>
                        <method>beforeBlockToHtml</method>
                    </quafzi_weightinordergrid_adminhtml_block_html_before>
                </observers>
            </core_layout_block_create_after>
            <core_collection_abstract_load_before>
                <observers>
                    <quafzi_weightinordergrid_change_collection>
                        <class>quafzi_weightinordergrid/observer</class>
                        <method>beforeCollectionLoad</method>
                    </quafzi_weightinordergrid_change_collection>
                </observers>
            </core_collection_abstract_load_before>
        </events>
        <translate>
            <modules>
                <Quafzi_WeightInOrderGrid>
                    <files>
                        <default>Quafzi_WeightInOrderGrid.csv</default>
                    </files>
                </Quafzi_WeightInOrderGrid>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <admin>
            <quafzi_weightinordergrid>
                <attribute_code_net_weight>net_weight</attribute_code_net_weight>
                <weight_unit>g</weight_unit>
            </quafzi_weightinordergrid>
        </admin>
    </default>
</config>
